* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
  }

  .container {
      width: 90%;
      max-width: 1400px;
      margin: 0 auto;
  }

  /* TOP NAV */

  .top-nav {
      height: 55px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      padding: 0 10px;
  }
  .top-nav ul {
      list-style: none;
  }

  .top-nav li {
      display: inline-block;
      padding: 5px 10px;
  }

  .top-nav li a {
    color: #262626;
    text-decoration: none;
    border-bottom: 0px solid black;
    padding-bottom: 2px;
  }

  .top-nav li a:hover {
      border-bottom: 2px solid black;
  }
  
  .left-nav {
      display: flex;
      align-items: center;
  }
  li i {
      margin-left: 5px;
      font-size: 14px;
  }

  .logo {
      height: 25px;
      margin-right: 20px;
  }

  .right-nav {
      display:flex;
  }
  
  .sign-in {
      padding: 5px 10px;
      border: none;
      background-color: #fff;
      cursor: pointer;
      font-size: 15px;
  }

  /* SLIDER */
  .slider img {
      height: auto;
      width: 100%;
  }

  .slider {
      position: relative;
      /* height: 475px; */
  }

  .wrapper-for-text {
      position: absolute;
      top: 30%;
      left: 8%;
      width: 30%;
      color: white;
  }
  .wrapper-for-text h2 {
    font-size: 46px;
    font-weight: 600;
  }

  .wrapper-for-text a {
      display: inline-block;
      margin-top: 15px;
      padding: 10px 25px;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      background-color: #fff;
  }

  .wrapper-for-text .left-on-hover {
      position: relative;
      left: 0;
      border-bottom: 2px solid transparent;
      transition: 0.3s;
  }

  .wrapper-for-text a:hover .left-on-hover  {
      left: -5px;
      border-bottom: 2px solid black;
  }

  .wrapper-for-text i {
      position: relative;
      transition: 0.3s;
      left: 0;
  }

  .wrapper-for-text a:hover i {
      left: 5px;
  }

  /* BUY THINGS */

  .buy-things {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 70px 0 40px;
  }

  .buy-things .item {
      font-size: 16px;
      display: flex;
      width: 180px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
  }

  .buy-things p {
      margin-top: 10px;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
  }

  /* NEWS SECTION */
  .news-section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
  }

  .news:hover img {
      opacity: 0.8;
  }

  .news-section img {
      width: 100%;
  }


  .news h3 {
      margin-top: 35px;
      font-size: 20px;
      font-weight: 600;
  }
  .news a {
      display: inline-block;
      margin-top: 15px;
      margin-left: 5px;
      margin-right: 15px;
      color: #0067b8;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;
      border-bottom: 1px solid transparent;
      transition: 0.2s;
  }
  .news i {
      position: relative;
      margin-left: 10px;
      left: 0;
      transition: 0.3s;
  }

  .news a:hover {
      border-bottom: 2px solid;
  }

  .news:hover {
      cursor: pointer;
  }

  .news a:hover i {
      left: 5px
  }

  /* XBOX SECTION */

  .slider.xbox {
      margin-top: 30px;
      margin-bottom: 30px;
  }

  /* NEWS 2 */
  .in-our-company {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 600;
  }

  /* SOCIALS */

  .socials {
      display: flex;
      align-items: center;
      margin: 50px 0;
      color: rgba(0, 0 ,0, .6);
  }

  .socials img {
      margin-left: 15px;
      transition: 0.3s;
  }

  .socials img:hover {
      cursor: pointer;
      opacity: 0.8;
  }

  .socials span {
      margin-right: 10px;
  }
  
  /* BOTTOM NAV */
  .background-colorizer {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(6, 1fr);
  }

  .bottom-nav {
    padding-top: 30px;
    background-color: #f2f2f2;
    color: #616161;
    font-size: 11px;
  }

  .bottom-nav li {
    padding: 8px 0;
  }

  .bottom-nav .background-colorizer li:first-of-type {
      font-size: 15px;
      font-weight: bold;
  }

  .bottom-nav ul {
      list-style: none;
  }

  .bottom-nav a {
    color: #616161;
    text-decoration: none; 
  }

  .bottom-nav a:hover {
      text-decoration: underline;
      color: #1f1f1f;
  }

  .bottom-nav ul {
      display: block;
  }

  /* BOTTOM LINKS */

  .bottom-links {
      padding-top: 10px;
      max-width: 1400px;
      margin: 0 auto;
      width: 90%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .bottom-links ul {
      display: flex;
      flex-wrap: wrap;
  }

  .left-part {
      display: flex;
      justify-content: center;
      font-size: 13px;
  }
  .left-part i {
      font-size: 20px;
      margin-right: 10px;
  }

  .bottom-links li {
      margin-right: 20px;
  }


  .mobile-top-nav {
      display: none;
      justify-content: space-between;
      align-items: center;
      height: 50px;
  }


  /* MEDIA QUERIES */

  @media (max-width: 1080px) {
    .news-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


    @media (max-width: 550px) {
        .news-section {
            grid-template-columns: 1fr;
        }
        .background-colorizer {
            grid-template-columns: 1fr;
          }
        .top-nav {
            display: none;
        }

        .mobile-top-nav {
            display: flex;
        }
    }

  }
  

