* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
  }

  .container {
      width: 90%;
      max-width: 1100px;
      margin: 0 auto;
  }

  /* TOP NAV */

  .top-nav {
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
  }
  .top-nav ul {
      list-style: none;
  }

  .top-nav li {
      display: inline-block;
      padding: 5px 10px;
  }

  .top-nav li a {
    color: #262626;
    text-decoration: none;
    border-bottom: 0px solid black;
    padding-bottom: 2px;
  }

  .top-nav li a:hover {
      border-bottom: 2px solid black;
  }
  
  .left-nav {
      display: flex;
      align-items: center;
  }

  .logo {
      height: 20px;
      margin-right: 20px;
  }

  /* SLIDER */

  .slider {
      background: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4rIOh?ver=5a47&q=90&m=8&h=472&w=1259&b=%23FFFFFFFF&l=f&x=0&y=198&s=2120&d=795&aim=true)
      ;
      height: 375px;
  }